# Retrieve data from Wiki page

In [3]:
# import html and requests to scrape the data from the webpage in html format
!pip install lxml
from lxml import html
import requests

# use the wikipedia url to save the html tree into a python variable

wiki_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki_url)
tree = html.fromstring(wiki_page.content)

# parse through table rows in html tree (xpath contains table row)
tr_elements = tree.xpath('//tr')

#empty list for table
tab=[]
i=0

#For each row in the table, store each header for the column name and an empty list for each column
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    tab.append((name,[]))
    
print(tab)

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 28.1MB/s eta 0:00:01MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1
[('Postcode', []), ('Borough', []), ('Neighbourhood\n', [])]

In [4]:
#Since our first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        tab[i][1].append(data)
        #Increment i for the next column
        i+=1

# Store data in data frames

In [5]:
# convert list to dictionary

dict = {title:column for (title,column) in tab}

# store dictionary in pandas dataframe

import pandas as pd

tor_df = pd.DataFrame(dict)
print(tor_df.shape)
print(tor_df.head())

(288, 3)
  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

# Clean data

In [6]:
#The data in the dataframe needs to be organized. The first step is to rename the "PostCode" and "Neighbourhood\n" columns to "Postal Code" and "Neighborhood"

# rename Postal Code and Neighborhood column
tor_df.rename(columns={'Postcode':'PostalCode', 'Neighbourhood\n':'Neighborhood'}, inplace=True)
tor_df.head()

  PostalCode           Borough        Neighborhood
0        M1A      Not assigned      Not assigned\n
1        M2A      Not assigned      Not assigned\n
2        M3A        North York         Parkwoods\n
3        M4A        North York  Victoria Village\n
4        M5A  Downtown Toronto      Harbourfront\n

In [7]:
# All of the values in the third column end with a "\n" due to the html formatting specifying a new line or row in the table. This needs to be deleted in the dataframe.

# replace the "\n" in the third column with ""
tor_df['Neighborhood'] = tor_df['Neighborhood'].str.replace('\n','')
tor_df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [8]:
# delete all of the values in the Borough column that equal "Not assigned".

# count unnasigned values in borough
print(tor_df[tor_df.Borough == 'Not assigned'].count())
print('--------------')

# ignore unassigned values in borough
tor_df = tor_df[tor_df.Borough != 'Not assigned']

# double check there are no not assigned values remaining in borough
print(tor_df[tor_df.Borough == 'Not assigned'].count())

PostalCode      77
Borough         77
Neighborhood    77
dtype: int64
--------------
PostalCode      0
Borough         0
Neighborhood    0
dtype: int64

group the data by postal code and join the neighborhoods with the same postal code separated by a comma. I used an aggregate function for this but I could not figure out how to keep the borough column in the dataframe without concatenating the same boroughs together as well.

In [9]:
# group by postal code and join the neighborhoods with the same postal code separated by a ','
df_temp = tor_df.groupby('PostalCode').agg({'Neighborhood':', '.join})
df_temp.reset_index(inplace=True)
df_temp.head(10)

  PostalCode                                     Neighborhood
0        M1B                                   Rouge, Malvern
1        M1C           Highland Creek, Rouge Hill, Port Union
2        M1E                Guildwood, Morningside, West Hill
3        M1G                                           Woburn
4        M1H                                        Cedarbrae
5        M1J                              Scarborough Village
6        M1K      East Birchmount Park, Ionview, Kennedy Park
7        M1L                  Clairlea, Golden Mile, Oakridge
8        M1M  Cliffcrest, Cliffside, Scarborough Village West
9        M1N                      Birch Cliff, Cliffside West

To introduce the borough column back into the dataframe, I merge the temporary grouped dataframe from the previous cell with the original dataframe then delete the duplicate values. I then reorder the columns and reset the index.

In [10]:
# merge the dataframes back together to get boroughs
df_tor = pd.merge(df_temp[['PostalCode','Neighborhood']], tor_df[['PostalCode', 'Borough']], left_on = 'PostalCode', right_on = 'PostalCode', how = 'left')

#drop duplicate postal code values
df_tor.drop_duplicates(subset='PostalCode', inplace=True)

#reorder colums and reset index
df_tor = df_tor[['PostalCode', 'Borough', 'Neighborhood']]
df_tor.reset_index(drop = True, inplace = True)

df_tor.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

check if there are any unassigned values in neighborhood column that weren't dropped when I took out the unassigned values from the borough column. Turns out there is one unassigned value so I replace it with the corresponding borough value.

In [11]:
# find if there are any not assigned values for neighborhood
df_tor[df_tor.Neighborhood == 'Not assigned']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Not assigned

In [12]:
# replace not assigned value for neighborhood with the borough
df_tor.loc[df_tor.Neighborhood == 'Not assigned', 'Neighborhood'] = df_tor.loc[df_tor.Neighborhood == 'Not assigned', 'Borough']
df_tor[df_tor.PostalCode == 'M7A']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

### print the shape of the dataframe.

In [13]:
print(df_tor.shape)

(103, 3)

In [14]:
#print the entire table to prove that my data contains all of the boroughs in Toronto and not just Scarborough
df_tor

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Rouge, Malvern
1          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

# Q2: Add Lat Long to the data

In [16]:
# import geocoder # import geocoder

# initialize your variable to None
# lat_lng_coords = None

# loop until you get the coordinates
# while(lat_lng_coords is None):
#   g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
#   lat_lng_coords = g.latlng

# latitude = lat_lng_coords[0]
# longitude = lat_lng_coords[1]

In [ ]:
#the above code did not work
lat_lng = pd.read_csv('https://cocl.us/Geospatial_data')
lat_lng.head()
#Merge Toronto Dataframe with lat_lng Dataframe